* {
  box-sizing: border-box;
}

body {
  color: white;
}

#title {
  text-align: center;
}

#motto {
  text-align: center;
}

body {
    background-color: #28679E;
    font-family: Courier, sans-serif;
}

form {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

button {
  align-self: center;
}

.container {
  color: black;
  width: 50%;
  margin: 0 auto;
}

header {
    text-align: center;
}

#title {
  font-size: 35px;
  letter-spacing: 5px;
}

#survey-form {
  text-align: left;
  line-height: 1.5;
  padding: 1em;
  border-radius: 0.25rem;
}

.input {
  display: block;
  width: 200px;
  margin: 10px;
}

button {
    color: white;
    background-color: #3589D2;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    width: 75%;
    border-radius: 4px;
}

a {
  color: #3589D2;
  text-decoration: none;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttons {
  text-decoration: none;
  background-color: #3589D2;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}